// VARIABLES

$primary-color: #2980b9;
$primary: #2980b9;
$secondary-color: #6dd5fa;
$warning-color: #fcd232;

$body-family: "Libre Franklin", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$navbar-item-img-max-height: 3em;

$tablet: 760px;

